:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: #e5e5e5;
  margin: 0 auto;
  text-align: center;
}

header {
  padding: 20px;
  background-color: rgb(82, 82, 82);
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1.5);
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  z-index: 999;
}
body {
  font-family: sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

button:active {
  transform: translateY(3px);
}
img {
  display: block;
  max-width: 100%;
}
